html{
	margin: auto;
	height: 100%;
	background-color: #333333;
	font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.bandeau{
    width:100.9%;
    margin-bottom:-20px;
    margin-left: -10px;
    margin-top: -10px;
}

main{
    color: white;
    text-align: center;
}

/*/----NAV----/*/

nav{
    position: sticky;
    top: 0px;
    width: 100.9%;
    margin-top: -4px;
    margin-left: -10px;
    background-color: #465B59;
    font-size: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-weight: bold;
}

nav a:hover{
    color: black;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #465B59;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav a{
    margin-left: -40px;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/*/--------------/*/

/*/----Méthode----/*/
.main_methode{
    border: black 3px solid;
    background-color: #474747;
    margin-left: 200px;
    margin-right: 200px;
    color : white;
    margin-top:50px;
}

.main_methode h1{
    font-weight: bold;
    font-size: 50px;
}

.main_methode p{
    font-size: 17px;
    margin-left: 200px;
    margin-right: 200px;
}

.main_methode h4{
    text-decoration: underline;
}

.main_methode table,td,th{
    background-color: #333333;
    border: rgb(31, 31, 31) 3px solid;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}

iframe{
    border: solid white 1px;
}

.main_methode h2{
    border: 2px solid black;
    margin-left: 350px;
    margin-right: 350px;
    background-color: #465B59;
    border-radius: 0px 30px 0px 30px;
    padding: 5px;
}
/*/---------------/*/